// Header styles
header {
    // Default link styles
    @include links($grey, $light-grey, $light-red, $red);
    a {
        @include font($family: $Arial);
    }

    // Checkout button
    @include button($grey, $white, $light-grey, $red);

    // Splitter line
    .splitter {
        background-color: $light-grey;
        height: 1px
    }

    // Menu
    nav {
        #menu-text {
            color: $grey;
            padding-top: 9px;
        }
    }

    // Dropdown menu main links
    .dropdown {
        @include links($grey, $grey, $red, $light-red, none, none);
        a {
            @include font(18px, $family: $PTSans);
            // Media querie for mobile
            @media screen and (max-width: 720px){
                @include font(20px);
                line-height: 1.7;
            }
        }
    }

    // Active link color
    li.active {
        @include links($red, $red, $red, $light-red, none, none);
    }

    // Dropdown menu box
    .dropdown-menu {
        background-color: $medium-grey;
        border: none;
        border-top: 1px solid $white;
        border-radius: 0;
        box-shadow: 0px -2px 0px 0px $medium-grey;
        padding: 1rem 0;

        .dropdown-item {
            transition: all 0.2s ease;
            &:hover {
                background-color: $red;
            }
        }

        @include links($white, $white, $white, $white, none, none);
        a {
            @include font(16px, $family: $Arial);
        }
    }

    .searchbar {
        @include font(14px, $grey, $Arial);
        input[name="search"] {
            @include font(14px, $grey, $Arial);
            overflow: hidden;
            border: none;

            &:focus {
                outline: none;
            }
        }
    }
}

// Red dobble-line at the bottom
.line--red {
    height: 2px;
    position: absolute;
    box-sizing: content-box;
    left: 0;
    right: 0;
    z-index: 99;

    border-top: solid 7px $red;
    border-bottom: solid 2px $red;
}
