@mixin button($color: $white, $color-hover: $white, $bg: $red, $bg-hover: $light-red) {
    button {
        transition: all 0.3s ease;
        background-color: $bg;
        @include font(14px, $color, $Arial);

        &:hover {
            background-color: $bg-hover;
            color: $color-hover;
        }

    }
}
