<footer>
    <div class="newsletter">
        <div class="container py-4">
            <div class="row my-3 justify-content-between align-items-center">
                <div class="col-lg-6 hidden-md-down">
                    <h3>SIGN UP FOR EXCLUSIVE SALES AND PRODUCT NEWS</h3>
                </div>
                <div class="col-lg-4 hidden-md-down">
                    <form id="signup" class="d-flex justify-content-between">
                        <input class="px-3" type="text" name="email" placeholder="LOREM@IPUSM.COM">
                        <button class="ml-3 px-4 py-3" type="submit" form="signup" name="submit">SIGN UP</button>
                    </form>
                </div>
                <div class="col-12  hidden-lg-up">
                    <form>
                        <input class="input--mobile p-3" type="text" name="email" placeholder="SIGN UP FOR OUR NEWSLETTER">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="container">
            <div class="row pt-3 pb-4">
                <div class="col-lg-3 d-flex flex-column hidden-md-down">
                    <h3 class="mb-3">OUR STORES</h3>
                    <div class="stores d-flex flex-column justify-content-between">
                        <p>Feel free to visit our stores or contact us.</p>
                        <p>Vinegade 109<br>5000 Odense<br>99886622</p>
                        <p>Vestergade 910<br>9000 Aalborg<br>96819191</p>
                        <div>
                            <a href="https://www.facebook.com/"><i class="fa fa-facebook mr-3" aria-hidden="true"></i></a>
                            <a href="https://www.twitter.com"><i class="fa fa-twitter mr-3" aria-hidden="true"></i></a>
                            <a href="https://www.plus.google.com"><i class="fa fa-google-plus mr-3" aria-hidden="true"></i></a>
                            <a href="https://www.vimeo.com"><i class="fa fa-vimeo mr-3" aria-hidden="true"></i></a>
                            <a href="https://www.vimeo.com"><i class="fa fa-rss" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 offset-lg-1 d-flex flex-column hidden-md-down">
                    <h3 class="mb-3">BLOG POSTS</h3>
                    <a href="#">New sexy sport clothes are here!</a>
                    <p class="mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    <a href="#">Summer sales are coming!</a>
                    <p class="mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    <a href="#">Lorem ipsum dolor sit amet.</a>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
                <div class="col-lg-4 offset-lg-1 hidden-md-down">
                    <h3 class="mb-3">SUPPORT</h3>
                    <div class="support row">
                        <div class="col-lg-6 d-flex flex-column">
                            <a href="#">Terms & Conditions</a>
                            <a href="#">FAQ</a>
                            <a href="#">Payment</a>
                            <a href="#">Refunds</a>
                            <a href="#">Track Order</a>
                            <a href="#">Services</a>
                            <a href="#">Privacy & Security</a>
                            <a href="#">Careers</a>
                            <a href="#">Press</a>
                            <a href="#">Corporate Information</a>
                        </div>
                        <div class="col-lg-6 d-flex flex-column">
                            <a href="#">Sizing</a>
                            <a href="#">Ordering</a>
                            <a href="#">Shipping</a>
                            <a href="#">Return Policy</a>
                            <a href="#">Affiliates</a>
                            <a href="#">Find a Store</a>
                            <a href="#">Site Map</a>
                            <a href="#">Sign up & Save</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 d-flex flex-column align-items-center hidden-lg-up">
                    <div class="d-flex justify-content-around mb-3">
                        <a href="https://www.facebook.com/"><i class="fa fa-facebook mr-3 fa-2x" aria-hidden="true"></i></a>
                        <a href="https://www.twitter.com"><i class="fa fa-twitter mr-3 fa-2x" aria-hidden="true"></i></a>
                        <a href="https://www.plus.google.com"><i class="fa fa-google-plus mr-3 fa-2x" aria-hidden="true"></i></a>
                        <a href="https://www.vimeo.com"><i class="fa fa-vimeo mr-3 fa-2x" aria-hidden="true"></i></a>
                        <a href="https://www.vimeo.com"><i class="fa fa-rss fa-2x" aria-hidden="true"></i></a>
                    </div>
                    <p>Copyright Super Sports 2017</p>
                </div>
            </div>
        </div>
    </div>
</footer>
