// Color definitions
$red:           #f45a40;
$light-red:     #ff674f;

$dark-grey:     #2a2d34;
$darkened-grey: #67686d;
$grey:          #7e7f84;
$medium-grey:   #999999;
$light-grey:    #ededed;

$white:         #ffffff;
$black:         #000000;
