<div class="row">
    <div  *ngFor="let product of products" class="product col-lg-3 mb-4">
        <div>
            <div class="stars d-flex p-1">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star-half-o" aria-hidden="true"></i>
                <i class="fa fa-star-o" aria-hidden="true"></i>
            </div>
            <a [routerLink]="['/product', product.id]"><img class="img-fluid" [src]="product.heroimg" alt="shoe"></a>
            <div class="product--description px-3 mt-3 pb-2">
                <a [routerLink]="['/product', product.id]">{{product.name}}</a>
                <h4 class="my-1">{{product.category | uppercase}}</h4>
                <p>{{product.description}}</p>
            </div>
            <div class="price d-flex justify-content-end align-items-center px-3 py-2">
                <p>{{product.price | currency:'USD':true:'2.2-2'}}</p>
                <a href="#">
                    <span>
                        <i class="mr-1 fa fa-heart-o fa-2x" aria-hidden="true"></i>
                    </span>
                </a>
                <a href="#">
                    <span class="fa-stack">
                        <i class="fa fa-circle-thin fa-stack-2x" aria-hidden="true"></i>
                        <i class="fa fa-plus fa-stack-1x" aria-hidden="true"></i>
                    </span>
                </a>
            </div>
        </div>
        <button class="py-2" type="button" name="buy">BUY NOW</button>
    </div>
</div>
