footer {
    width: 100%;

    h3 {
        @include font(22.65px, $white, $PTSans);
    }

    p {
        @include font(14px, $grey, $Arial);
    }

    @include links($white, $white, $red, $light-red);
    a {
        font-size: 14px;
    }

    .newsletter {
        background-color: $red;


        @include button($white, $red, $light-red, $white);

        input[name="email"] {
            flex: 1;
            @include font(14px, $grey, $Arial);
            overflow: hidden;
            border: none;

            &:focus {
                outline: none;
            }
        }

        .input--mobile {
            width: 100%;
        }
    }

    .footer {
        background-color: $dark-grey;
        line-height: 1.5;

        .stores {
            flex: 1;

            i {
                font-size: 20px;
            }
        }

        .support {
            @include links($grey, $grey, $red, $red);
        }
    }
}
